.viewItem {
  padding: 17px;
  display: flex;
  flex-direction: row;
}

.itemLeft {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 70%;
}

.title {
  font-size: 16px;
  color: #444444;
  margin-top: 5px;
}

.itemBtn{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between
}
.infoSpan{
  font-size: 12px;
  color: #AAAAAA;
}
.itemBtnRight{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 17px
}
.readView{
  display: flex;
  align-items: center;
  flex-direction: row;
}
.likes_count{
  height: 12px;
  width: 12px
}
.total_views{
  font-size: 12px;
  color: #AAAAAA;
  margin-left: 2px;
  margin-right: 8px;
}
.rightImg{
  width: 122px;
  height: 74px;
  margin-left: 16px;
}
