.dateShow{
  padding: 20px 10px;
  :global {
    .am-list-extra {
      flex-basis: auto !important;
      font-size: 11px !important;
    }
  }

  .wdayShow{
    font-size: 12px;
  }
}

.navbar {
  z-index: 1000;
  width: 100%;
  background: red;
}

.hotelCalendar {
  :global {
    .am-calendar .content{
      height: 85%;
      top: auto;
      bottom: 0;
    }
  }
}

.detailFooter{
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  >div{
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  .leftFooter{
    background: white;
  }

  .rightFooter{
    background: red;
    color: white;
  }
}

